---
import styles from './Styles.module.css'

interface Props {
    class?: string
}

const { class: className } = Astro.props
---

<section id="skills" class:list={[className, styles.section]}>
    <h2 class={styles.section__heading}>Skills & Stack</h2>
    <div class={styles.skills__content}>
        <article class={styles.skills__group}>
            <h3 class={styles.skills__subheading}>Languages</h3>
            <ul class={styles.skills__list}>
                <li class={styles.skills__item}>
                    <span class={styles.skills__name}>C#</span>
                </li>
                <li class={styles.skills__item}>
                    <span class={styles.skills__name}>SQL</span>
                </li>
                <li class={styles.skills__item}>
                    <span class={styles.skills__name}>Java</span>
                </li>
                <li class={styles.skills__item}>
                    <span class={styles.skills__name}>Python</span>
                </li>
                <li class={styles.skills__item}>
                    <span class={styles.skills__name}>TypeScript</span>
                </li>
            </ul>
        </article>

        <article class={styles.skills__group}>
            <h3 class={styles.skills__subheading}>Tools & Platforms</h3>
            <ul class={styles.skills__list}>
                <li class={styles.skills__item}>
                    <span class={styles.skills__name}>Git</span>
                </li>
                <li class={styles.skills__item}>
                    <span class={styles.skills__name}>AWS</span>
                </li>
                <li class={styles.skills__item}>
                    <span class={styles.skills__name}>Docker</span>
                </li>
                <li class={styles.skills__item}>
                    <span class={styles.skills__name}>PostgreSQL</span>
                </li>
            </ul>
        </article>

        <article class={styles.skills__group}>
            <h3 class={styles.skills__subheading}>Frameworks & Libraries</h3>
            <ul class={styles.skills__list}>
                <li class={styles.skills__item}>
                    <span class={styles.skills__name}>NumPy</span>
                </li>
                <li class={styles.skills__item}>
                    <span class={styles.skills__name}>Pandas</span>
                </li>
                <li class={styles.skills__item}>
                    <span class={styles.skills__name}>Matplotlib</span>
                </li>
                <li class={styles.skills__item}>
                    <span class={styles.skills__name}>TensorFlow</span>
                </li>
                <li class={styles.skills__item}>
                    <span class={styles.skills__name}>Scikit-Learn</span>
                </li>
            </ul>
        </article>
    </div>
</section>
